@model string

<div style="position: fixed; right: 15px; bottom: 75px;">
    <a class="btn btn-success" asp-controller="@Model" asp-action="Create">
        <i class="bi bi-plus-circle"></i> Add New
    </a>
</div>
