<div class="row text-center">
    <div class="mt-5 col-md-6 offset-3">
        <h1 class="text-info">Oops! looks like you don't have the resouce you are looking for.</h1>
        <hr />
        <a class="btn btn-light mt-5" asp-controller="Book" asp-action="Index">Home Page</a>
    </div>
</div>
