@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<p class="text-center text-white mt-5" style="max-width:900px; margin:auto;">
    The information collected on this web application(such as: Mobile Phone number, Users Identity, Email Address and perharps any other users
    information that you may also need to provide to us or want to have inside your profile) is solely used for only comunication and user
    identification. No information will be disclosed to any public/private, local/foreign brands or companies. We respect you privacy and
    we will make it our goal to ensure that your information is secure.
</p>
