<div class="row mt-5">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You are not allowed to access this page :(</h2>
        <p>Click the button below to be redirected to the home page.</p>
        <hr />
        <p><a asp-controller="Book" asp-action="Index" class="btn btn-light" style="text-decoration:none;">Home Page</a></p>
    </div>
</div>
