@using LibraryManagementApp.Data.ViewModels;
@model InputModel

<div class="container">
    <h4 class="text-center mt-4 mb-5">Manage Account</h4>
    <div style="max-width: 650px; margin: auto;">
        @if (TempData["StatusMessage"] != null)
        {
            <div class="alert alert-success mb-3" role="alert">
                @TempData["StatusMessage"]
            </div>
        }
        <form asp-action="ManageAccount" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row g-2">
                <div class="col-md-6">
                    <div class="row g-1">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12">
                                    <label asp-for="FullName" class="form-label">FullName:</label>
                                    <input asp-for="FullName" type="text" class="form-control">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="ImageFile" class="form-label">Profile Picture</label>
                            <input asp-for="ImageFile" type="file" class="form-control-file" onchange="getImagePreview(event)" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center mb-3">
                    <img class="rounded-circle" id="imagePreview" src="~/images/usersprofilepictures/@Model.ProfilePicture" alt="Image for @Model.FullName"
                         style="width: 250px;">
                </div>
            </div>
            <div class="mt-5">
                <button type="submit" class="float-end btn btn-outline-warning" style="margin-right: 78px;">
                    Update <i class="bi bi-cloud-check"></i>
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        function getImagePreview(event) {
            var image = URL.createObjectURL(event.target.files[0]);
            console.log(event.target.files[0]);
            var previewSection = document.getElementById('imagePreview');
            previewSection.src = image;
        }
    </script>
}
